body {
    margin: 0;
    min-height: 100vh;
    font-family: "Cactus Classical Serif", serif;
    background:rgb(248, 219, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 700px;
    background: rgb(244, 228, 209);
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 42px;
    color: #000000;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card {
    display: block;
    text-decoration: none;
    background: #eff6ff;
    color: #6d5892;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    border-radius: 14px;
    transition: 0.25s;
}

.card:hover {
    background: #e9c0c0;
    transform: translateY(-3px);
    box-shadow: 0 8px 8px rgba(30, 58, 138, 0.18);
}