* {
  background: #FFFFF4;
  font-family: 'Cactus Classical Serif', serif;
}

.top{
    background-color: #fdf8b3;
    padding: 30px ;
}
.title {
    font-size: 50px;
    background-color: #fdf8b3;
}
.explan{
    font-size: 20px;
    background-color: #fdf8b3;
}

button {
    font-size: 30px;
    display: block;
    margin: 0 auto;
}

#result {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.food-img{
    width: 440px;
    height:auto;
}