*{
    box-sizing: border-box;
}

body{
    background:#EEEFE4;
    font-family:'Cactus Classical Serif',serif;
    margin:0;
}

/* 上方標題區 */
.top{
    background:#d6f7c8;
    padding:30px;
    
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.title{
    font-size:36px;
    text-align:center;
}

/* 主內容區 */
.inside{
    width:700px;
    margin:20px auto;
    font-size:20px;
}

/* 每個區塊 */
#text,#number{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
    margin-bottom:40px;
}

/* 小標題 */
.text-title,.number-title{
    font-size:28px;
}

/* 說明文字 */
.input,.range{
    margin-top:10px;
    margin-bottom:10px;
}

/* textarea */
textarea{
    width:100%;
    min-height:80px;
    padding:10px;
    font-size:16px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-bottom:10px;
}

/* input */
input{
    width:100px;
    padding:5px;
    margin:10px;
}

/* button */
button{
    padding:6px 15px;
    font-size:16px;
    border:none;
    border-radius:5px;
    background:#9ed58a;
    cursor:pointer;
    transition: 0.5s;
}
button:hover{
    background:#afc5a7;
}

/* 結果顯示 */
#text-result,#num-result{
    margin-top:15px;
    font-size:22px;
    font-weight:bold;
}